<nav class="navbar justify-content-center bcp">
    <div class="container-fluid">
      <a class="navbar-brand active bcptext">Agencias</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="list-group list-group-item list-group-item-action" 
*ngFor="let agency of listAgency"
(click)="openForEdit(agency)"
          [class.active]="agency == selectedAgency"
>
    
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" [src]="agency.provincia === 'Lima' ? 'assets/img/peru.png' : 'assets/img/peru2.png'" alt="">
    
            </div>
            <div class="col-9">
                <h5 class="mb-1">{{agency.agencia | titlecase}} </h5>
            <p class="mb-1"> {{agency.distrito}}</p>
            <small>{{agency.direccion}}</small>
            <small>3 days ago</small>
              <div class="mb-1">
                <a class="btn btn-success btn-sm" routerLink="/add-agency/{{agency.agencia}}]">Edit {{agency.agencia}}</a>
              </div>
            
            </div>
        </div>
      </div>
      
    </a>
</div>